.p18{
    font-size: 18px;
    padding-bottom: 10px;
}
.pblue{
    /* 强调文字 */
    color: blue;
    font-weight: bold;
}
.plan{
    margin-top: 30px;
}
.martop10px{
    margin-top: 10px;
}
.martop20px{
    margin-top: 20px;
}
.marbot10px{
    margin-bottom: 10px;
}
.marbot20px{
    margin-bottom: 20px;
}
.libiao{
    padding-left: 20px;
}
.jietu{
    width: 800px;
    height: 600px;
}

/*屏幕适配*/
@media only screen and (max-width : 1012px){
    .jietu {
        width: 400px;
        height: 200px;
    }
}
@media only screen and (max-width : 420px){
    .jietu {
        width: 200px;
        height: 100px;
    }
}
@media only screen and (max-width : 290px){
    .jietu {
        width: 100px;
        height: 50px;
    }
}
